<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title></title>
    <style></style>
</head>

<body style="margin: 0; padding: 0;">
    <div id="email" style="max-width:600px; margin: auto; background-color: #F2F2F2;">
        <table role="presentation" border="0" cellspacing="0" width="100%"
            style="font-family: 'Helvetica', MS Sans Serif, Arial;">
            <tr>
                <td style="padding: 1.2rem 1rem; text-align: center;">
                    <a href="https://quant-stay.vercel.app/" style="text-decoration: none;">
                        <img style="display: block; max-height: 41px; margin: 0 auto;"
                            src="https://quaintstays.laraveldevelopmentcompany.com/public/img/Logo1.png">
                    </a>
                </td>
            </tr>
            <tr>
                <td
                    style="background-image: url(https://quaintstays.laraveldevelopmentcompany.com/public/img/banner_inquiry.png); background-repeat: no-repeat; background-size: 100% 190px; padding: 10.6rem 1rem 1.8rem;">
                    <div style="background: #EFA3A3;padding: 0.7rem 1.4rem  1.5rem 1.4rem;">
                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 1rem 0  1.3rem 0;color: #FFFFFF;">
                            Dear @php echo ucwords($user['name'])?? 'User' @endphp,</p>

                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 1rem 0  1.3rem 0;color: #FFFFFF;">
                            @if ($user['status'] == 1)
                            We’re pleased to inform you that your account with Airbnb Clone  has been successfully
                            reactivated!
                            @endif
                            @if ($user['status'] == 0)
                            We’re writing to confirm that your account with Airbnb Clone  has been deactivated as per
                            your request.
                            @endif
                        </p>
                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 1rem 0  1.3rem 0;color: #FFFFFF;">
                            @if ($user['status'] == 1)
                            You can now log in to make bookings and access all your account features. If you need
                            further assistance, please email us at <a href="mailto:quaintspaces@gmail.com"
                                style="font-family: Arial;  color: #FFFFFF;text-decoration: none;">@php echo
                                $adminUser['email'] ?? 'N/A' @endphp</a> or call <a href="tel:9521410122"
                                style="font-family: Arial;  color:#FFFFFF ; text-decoration: none; ">{{
                                $adminUser['phone_no'] }}.
                            </a>
                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 1rem 0  1.3rem 0;color: #FFFFFF;">
                            Thank you for choosing Airbnb Clone . We look forward to hosting you!</p>
                        @endif
                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 1rem 0  1.3rem 0;color: #FFFFFF;">
                            @if ($user['status'] == 0)
                            If this action was taken in error or if you wish to reactivate your account,
                            please <br>
                            <a href="https://quant-stay.vercel.app/reactive/<?php echo $user['id']; ?>"
                                style="text-decoration: underline; font-family: Arial; ">click here</a>.

                        </p>

                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 1rem 0  1.3rem 0;color: #FFFFFF;">
                            We are sorry to see you go.
                            @endif
                        </p>
                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 0;color: #FFFFFF;">
                            Best Regards,</p>
                        <p
                            style="font-family: Arial; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: -0.01em; text-align: left;margin: 0;color: #FFFFFF;">
                            Airbnb Clone </p>

                    </div>
                </td>
            </tr>

            <tr>
                <td style="padding: 0 1rem 1.2rem; text-align: center;">
                    <a href="https://quant-stay.vercel.app/" style="text-decoration: none;">
                        <img src="https://quaintstays.laraveldevelopmentcompany.com/public/img/mini-logo.png">
                    </a>
                </td>
            </tr>
            <tr>
                <td style=" text-align: center;">
                    <table cellpadding="5" cellspacing="0" style="margin: 0 auto;">
                        <tr>
                            <!-- padding: 1rem 1rem 1rem; -->
                            <td style="text-align: center;">
                                <div
                                    style="font-family: Arial; font-size: 13px; font-weight: 400; line-height: 16.1px; color: rgba(63, 42, 23, .7);padding:0 0 10px;">
                                    <img style="width:17px;height:17px;margin-right:2px;vertical-align: middle;"
                                        src="https://quaintstays.laraveldevelopmentcompany.com/public/img/mail.png"
                                        alt="email icon">
                                    <a style="color: rgba(63, 42, 23, .7); text-decoration: none; font-family: Arial;"
                                        href="mailto:quaintspaces@gmail.com">: quaintspaces@gmail.com</a>
                                </div>
                                <div
                                    style="font-family: Arial; font-size: 13px; font-weight: 400; line-height: 16.1px; color: rgba(63, 42, 23, .7);padding:0 0 10px;">
                                    <img style="width:17px;height:17px ;margin-top:-1px;vertical-align: middle;"
                                        src="https://quaintstays.laraveldevelopmentcompany.com/public/img/baseline_phone.png"
                                        alt="phone icon"><a
                                        style="color: rgba(63, 42, 23, .7); text-decoration: none; font-family: Arial;"
                                        href="tel:9521410122"> : +91 9521410122</a> /
                                    <a style="font-family: Arial; color: rgba(63, 42, 23, .7); text-decoration: none;"
                                        href="tel:9314022666">+91 9314022666</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style=" text-align: center;">
                                <div
                                    style="font-family: Arial; font-size: 13px; font-weight: 400; line-height: 16.1px; color: rgba(63, 42, 23, .7);padding:0 0 10px;">
                                    <img style="width:17px;height:17px ;margin-right:2px;vertical-align: middle;"
                                        src="https://quaintstays.laraveldevelopmentcompany.com/public/img/facebook.png"
                                        alt="facebook icon">
                                    <a style="font-family: Arial; color: rgba(63, 42, 23, .7); text-decoration: none;"
                                        href="https://www.facebook.com/people/Quaint-Spaces/61562274566820/?mibextid=LQQJ4d&rdid=CiWgz839lA50rXoz&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F64gvciqN2UNPMx6V%2F%3Fmibextid%3DLQQJ4d">:
                                        Airbnb Clone </a>
                                </div>
                                <div
                                    style="font-family: Arial; font-size: 13px; font-weight: 400; line-height: 16.1px; color: rgba(63, 42, 23, .7);padding:0 0 10px;">
                                    <img style="width:17px;height:17px ;margin-right:2px;vertical-align: middle;"
                                        src="https://quaintstays.laraveldevelopmentcompany.com/public/img/instra.png"
                                        alt="instagram icon">
                                    <a style="font-family: Arial; color: rgba(63, 42, 23, .7); text-decoration: none;"
                                        href="https://www.instagram.com/quaintspacesjaipur/">:
                                        @quaintspacesjaipur</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style=" text-align: center;">
                                <div
                                    style="font-family: Arial; font-size: 13px; font-weight: 400; line-height: 16.1px; color: rgba(63, 42, 23, .7);padding:0 0 10px;">
                                    <img style="width:18px;height:18px ; margin-bottom:1px;vertical-align: middle;"
                                        src="https://quaintstays.laraveldevelopmentcompany.com/public/img/mdi_location.png"
                                        alt="location icon">
                                    : D-105, Golden Oak 2, Devi Marg,<br> Station Road, Bani Park, Jaipur, Rajasthan
                                    302016.
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>